
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    margin: 0 5px;
  }
  
  .pagination-container span {
    margin: 0 10px;
  }

  .search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .search-input {
    width: 300px;
  }
  